<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Review - Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <div class="nav" id="mainLogo"><a href="#">Tech Review</a></div>
      <ul class="nav navbar-main">
        <li><a href="/">Home</a></li>
        <li><a href="#">Dashboard</a></li>
        </ul>
        <ul class="nav introNavbar">
          <li><a href="/login">Sign In</a></li>
          <li><a href="#">Log out</a></li>
        </ul>
    </nav>
  </header>

  {{{body}}}
  
</body>
</html>