<div>
    <div>
        <h3>Sign Up</h3>
        <form id="signup-form">
            <div >
                <label for="user-signup"></label>
                <input type="text" class="form-control" id="user-signup" placeholder="Your Username *" />
            </div>
            <div>
                <input type="password" class="form-control" id="pwd-signup"
                    placeholder="Your Password (minimum 8 characters) *" />
            </div>
            <div>
                <input type="submit" class="btnSubmit" value="Create Account" />
            </div>
            <div>
                <a href="/login" id="submit" class="btn">Already have an account? Click here to log in!</a>
            </div>
        </form>
    </div>
</div>