@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;900&display=swap');
/*font-family: 'Overpass', sans-serif;*/

nav {
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  padding: 1.25%;
  background-color: whitesmoke;
  border-bottom: 8px groove lightseagreen;
  margin-bottom: 2%;
}

nav ul {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: space-evenly;
}

#logo {
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
  font-size: 1.52em;
  color: #105e59;
}

#logo:hover {
  text-decoration: none;
}

#logout {
  border: none;
  background: none;
}

ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
}


nav>ul>li.nav-item>a:hover,
nav>a.nav-item:hover {
  text-decoration: none;
  color: #20b2aa;

}

@media (max-width: 768px) {

  nav,
  nav ul {
    flex-direction: column;
    align-items: center;
  }


}